@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: flex;
    white-space: nowrap;
    animation: slide 15s linear infinite;
  }
